<a href="https://colab.research.google.com/github/Debanjan-C/WANG-690-FALL-2020/blob/master/Assignment-04/Data_690_HW_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data 690 - Assignment 4
Debanjan Chowdhury

**Objective** - We will be taking a text file. Doing data cleansing and finally uploading into a csv file that we will be creating.

### 1. Write code to open the text file census_cost.txt and read all lines into a list named "line_list". Print line_list.
- This is the first step where we open the text file and set the lines in a list where it will store it after reading the lines.

In [ ]:
#we are opening the census_cost.txt file
with open("census_cost.txt", "rt") as f:

  line_list = f.readlines()

In [ ]:
#Boiler plate print() We print the entire data in one line
print(line_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [ ]:
#We print one line at a time using the for loop. 
for row in line_list:
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

### 2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [ ]:
#We store the top 2 rows in a new list and have shown the output below
top2_list = []
for row in line_list[:2]:
  top2_list.append(row)

for row in top2_list:
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

### 3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

In [ ]:
#We store the other data(except top 2 rows in this list) 
#and we print it in second for loop
data_list = []
for row in line_list[2:]:
  data_list.append(row)

for row in data_list[:]:
  print(row)

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [ ]:
#Boiler print for testing purposes
print(data_list)

['1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n']

### 4. Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010". Print the cleansed year_list.

In [ ]:
#We extract the year portion from data list and store it in a new list
#and we print the newly extracted year data
year_list = []
for line in data_list:
  year_list.append(line.split("\t")[0])
year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010*']

In [ ]:
#Remove the "*" from 2010 and cleanse the list and keep it all in one format.
#We check each of the year data in the extracted list and removed any ('*')
for i in range(len(year_list)):
  year_list[i] = year_list[i].replace("*", "")
 
year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010']

### 5. Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [ ]:
#We store the population data from data list into the pop_list dataset
pop_list = []
for line in data_list:
  pop_list.append(line.split("\t")[1])
pop_list

['3,929,214',
 '5,308,483',
 '7,239,881',
 '9,633,822',
 '12,866,020',
 '17,069,458',
 '23,191,876',
 '31,443,321',
 '38,558,371',
 '50,155,783',
 '62,979,766',
 '76,303,387',
 '91,972,266',
 '105,710,620',
 '122,775,046',
 '131,669,275',
 '151,325,798',
 '179,323,175',
 '203,302,031',
 '226,542,199',
 '248,718,301',
 '281,421,906',
 '308,745,538']

In [ ]:
#We remove the commas and cleanse the data in pop_list
for i in range(len(pop_list)):
  pop_list[i] = pop_list[i].replace(",", "")
pop_list

['3929214',
 '5308483',
 '7239881',
 '9633822',
 '12866020',
 '17069458',
 '23191876',
 '31443321',
 '38558371',
 '50155783',
 '62979766',
 '76303387',
 '91972266',
 '105710620',
 '122775046',
 '131669275',
 '151325798',
 '179323175',
 '203302031',
 '226542199',
 '248718301',
 '281421906',
 '308745538']

### 6. Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [ ]:
#We store the cost data from data_list into the cost_list
cost_list = []
for line in data_list:
  cost_list.append(line.split("\t")[2])
cost_list

['$44,377',
 '$66,109',
 '$178,445',
 '$208,526',
 '$378,545',
 '$833,371',
 '$1,423,351',
 '$1,969,377',
 '$3,421,198',
 '$5,790,678',
 '$11,547,127',
 '$11,854,000',
 '$15,968,000',
 '$25,117,000',
 '$40,156,000',
 '$67,527,000',
 '$91,462,000',
 '$127,934,000',
 '$247,653,000',
 '$1,078,488,000',
 '$2,492,830,000',
 '$4.5 Billion',
 '$13 Billion']

In [ ]:
#We cleanse the cost_list by removing the sollar sign, commas and replacing the 
#letter "Billion" by multiplying the number with a billion.

for i in range(len(cost_list)):
  cost_list[i] = cost_list[i].replace(",", "")
  cost_list[i] = cost_list[i].replace("$", "")
  if 'Billion' in cost_list[i]:
    cost_list[i] = cost_list[i].replace(" Billion", "")
    cost_list[i] = float(cost_list[i])
    cost_list[i] = round(cost_list[i]* 1000000000)
    cost_list[i] = str(cost_list[i])
cost_list

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4500000000',
 '13000000000']

### 7. Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

In [ ]:
#We store the average cost per population data from the data_list into this list.

avg_list = []
for line in data_list:
  line = line.split("\t")[3]
  #print(line)
  avg_list.append(line)
avg_list

['1.13 cents\n',
 '1.24 cents\n',
 '2.46 cents\n',
 '2.16 cents\n',
 '2.94 cents\n',
 '4.88 cents\n',
 '6.14 cents\n',
 '6.26 cents\n',
 '8.87 cents\n',
 '11.54 cents\n',
 '18.33 cents\n',
 '15.54 cents\n',
 '17.07 cents\n',
 '23.76 cents\n',
 '32.71 cents\n',
 '51.29 cents\n',
 '60.44 cents\n',
 '71.34 cents\n',
 '$1.22\n',
 '$4.76\n',
 '$10.02\n',
 '$15.99\n',
 '$42.11\n']

In [ ]:
#we remove the letter cents and divide it by 100 to show the dollar amount for those, 
#We also remove the dollar signs.

for i in range(len(avg_list)):
  avg_list[i] = avg_list[i].replace("$", "")
  if ' cents' in avg_list[i] and '.' in avg_list[i]:
    avg_list[i] = avg_list[i].replace(" cents", "")
    avg_list[i] = float(avg_list[i])
    avg_list[i] = round((avg_list[i]/ 100), 4)
    avg_list[i] = str(avg_list[i])
    avg_list[i] = avg_list[i] + "\n"
   
avg_list

['0.0113\n',
 '0.0124\n',
 '0.0246\n',
 '0.0216\n',
 '0.0294\n',
 '0.0488\n',
 '0.0614\n',
 '0.0626\n',
 '0.0887\n',
 '0.1154\n',
 '0.1833\n',
 '0.1554\n',
 '0.1707\n',
 '0.2376\n',
 '0.3271\n',
 '0.5129\n',
 '0.6044\n',
 '0.7134\n',
 '1.22\n',
 '4.76\n',
 '10.02\n',
 '15.99\n',
 '42.11\n']

### 8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [ ]:
#We verify each line in the data_list and check each section before the split('/t')
#statement and replace it with the elements from the lists where we have the cleansed data. 
for i in range(len(data_list)):

  
  data_list[i] = data_list[i].replace(data_list[i].split("\t")[0], year_list[i])
  data_list[i] = data_list[i].replace(data_list[i].split("\t")[1], pop_list[i])
  data_list[i] = data_list[i].replace(data_list[i].split("\t")[2], cost_list[i])
  data_list[i] = data_list[i].replace(data_list[i].split("\t")[3], avg_list[i])  
    
data_list

['1790\t3929214\t44377\t0.0113\n',
 '1800\t5308483\t66109\t0.0124\n',
 '1810\t7239881\t178445\t0.0246\n',
 '1820\t9633822\t208526\t0.0216\n',
 '1830\t12866020\t378545\t0.0294\n',
 '1840\t17069458\t833371\t0.0488\n',
 '1850\t23191876\t1423351\t0.0614\n',
 '1860\t31443321\t1969377\t0.0626\n',
 '1870\t38558371\t3421198\t0.0887\n',
 '1880\t50155783\t5790678\t0.1154\n',
 '1890\t62979766\t11547127\t0.1833\n',
 '1900\t76303387\t11854000\t0.1554\n',
 '1910\t91972266\t15968000\t0.1707\n',
 '1920\t105710620\t25117000\t0.2376\n',
 '1930\t122775046\t40156000\t0.3271\n',
 '1940\t131669275\t67527000\t0.5129\n',
 '1950\t151325798\t91462000\t0.6044\n',
 '1960\t179323175\t127934000\t0.7134\n',
 '1970\t203302031\t247653000\t1.22\n',
 '1980\t226542199\t1078488000\t4.76\n',
 '1990\t248718301\t2492830000\t10.02\n',
 '2000\t281421906\t4500000000\t15.99\n',
 '2010\t308745538\t13000000000\t42.11\n']

In [ ]:
#We take the top two rows of the data that was stored in the top_2 list.
#After that, we store it in a new list. 
new_line_list = []

for i in top2_list:
  new_line_list.append(i)

new_line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [ ]:
#We append the other cleansed list (other than first 2) into the sam new list created.
for i in data_list:
  new_line_list.append(i)

new_line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3929214\t44377\t0.0113\n',
 '1800\t5308483\t66109\t0.0124\n',
 '1810\t7239881\t178445\t0.0246\n',
 '1820\t9633822\t208526\t0.0216\n',
 '1830\t12866020\t378545\t0.0294\n',
 '1840\t17069458\t833371\t0.0488\n',
 '1850\t23191876\t1423351\t0.0614\n',
 '1860\t31443321\t1969377\t0.0626\n',
 '1870\t38558371\t3421198\t0.0887\n',
 '1880\t50155783\t5790678\t0.1154\n',
 '1890\t62979766\t11547127\t0.1833\n',
 '1900\t76303387\t11854000\t0.1554\n',
 '1910\t91972266\t15968000\t0.1707\n',
 '1920\t105710620\t25117000\t0.2376\n',
 '1930\t122775046\t40156000\t0.3271\n',
 '1940\t131669275\t67527000\t0.5129\n',
 '1950\t151325798\t91462000\t0.6044\n',
 '1960\t179323175\t127934000\t0.7134\n',
 '1970\t203302031\t247653000\t1.22\n',
 '1980\t226542199\t1078488000\t4.76\n',
 '1990\t248718301\t2492830000\t10.02\n',
 '2000\t281421906\t4500000000\t15.99\n',
 '2010\t308745538\t13000000000\t42.11\n']

In [73]:
#We save the newly cleansed rows into a csv file
with open("census_cost.csv", "wt") as f:
  for row in new_line_list:
    f.write(row.replace('\t', ','))

### 9. Open the newly-created file "census_cost.csv", read all lines and display them.

In [72]:
#We read the csv file that we created and wrote data to in the last step and we read it here. 

with open('census_cost.csv', 'r')  as f:
  print(f.read())

Source: https://www.genealogybranches.com/censuscosts.html
Census Year,Total Population,Census Cost,Average Cost Per Person
1790,3929214,44377,0.0113
1800,5308483,66109,0.0124
1810,7239881,178445,0.0246
1820,9633822,208526,0.0216
1830,12866020,378545,0.0294
1840,17069458,833371,0.0488
1850,23191876,1423351,0.0614
1860,31443321,1969377,0.0626
1870,38558371,3421198,0.0887
1880,50155783,5790678,0.1154
1890,62979766,11547127,0.1833
1900,76303387,11854000,0.1554
1910,91972266,15968000,0.1707
1920,105710620,25117000,0.2376
1930,122775046,40156000,0.3271
1940,131669275,67527000,0.5129
1950,151325798,91462000,0.6044
1960,179323175,127934000,0.7134
1970,203302031,247653000,1.22
1980,226542199,1078488000,4.76
1990,248718301,2492830000,10.02
2000,281421906,4500000000,15.99
2010,308745538,13000000000,42.11